header {
  background-color: #216583;
  padding: 1.6rem 0;
  color: #fff;
}

.header__title {
  font-size: 3.2rem;
  margin: 0;
}

.header__subtitle {
  color: #cffdf8;
  margin: 0;
  font-size: 1.6rem;
  font-weight: 500;
}
